

/* ---------------------- Import --------------------------------*/
@import url(general_tags.css);
@import url(font.css);



/* ----------------------- Page Container ----------------------- */
/* Initially each element has its own row for small screens */
.container {
  display:grid;
  grid-template-columns: auto;
  
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd"
  "sd sd sd sd sd sd sd sd"
  "main main main main main main main main"
  "ft ft ft ft ft ft ft ft";
  padding-left: 30px;
}

/* Assign grid area below */
.header{
  grid-area:hd;
}
.footer{
  grid-area:ft;
}
.sidebar{
  grid-area:sd;
}
.content{
  grid-area:main;
}

/* ----------------------- Class ----------------------- */
/* class for display box */
.box{                
  width  : 90%;
  height : 130px;
  padding: 10px;
  margin : 10px; 
  border-radius: 2px;
  border: 1px solid #c8cac6;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,.14),0px 3px 1px -2px rgba(0,0,0,.12),0px 1px 5px 0px rgba(0,0,0,.2);
  text-align: left;
  color: #1d2a35;
  transition: 0.3s;
}

/* class for box hover shadow */
.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}	

/* divide box into two areas using display grid */
.div-box {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 2fr;
  column-gap: 5px;
  /* border: 1px solid rgb(0, 47, 255); */
}

/* Assign grid area for "div-box" */   
.div-box-right {
  display: block;
}  

.post-img {
  display: block;  
}



      

/* If Screen Is Wide Enough */
@media(min-width:900px) {
.container{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd sd sd sd main main main main"
    "ft ft ft ft ft ft ft ft";
  }
}